.button {
  color: #7b1796;
  background-color: #7511AD;
  border: 1px solid grey;
  cursor: pointer; 
  font-weight: 600; 
  margin-right: 1.1em;
  padding: 1.1em;
  outline: none; 
  transition: background .5s ease-in-out; 

 
  &:hover, &:focus {
    background: #5910A3;
    color: #A3008E;
  }
  &:active {
    background: #E3FDEE;  
    transition: transform 1s ease;
    transform: scale(1.3);  
  }
}
.button--round {
  border-radius: 50%; 
  height: 5em;
  width: 5em;
}
