

.post {
  display: flex;
  justify-content: space-between;;  
}

.post__topic {
  font-weight: 300;
  font-size: 1.9em;
}

.post__stats {
  font-size: 1.3em;
  font-style: italic;
  font-weight: 300;
}

.post__actions {
  flex-shrink: 0;
}
