 .single-block-item-style {
  background-color: #E3FDEE;
  border: 2px black solid;
  margin-top: .5em;
  padding: 1.3em;
}
.single-block-item-style__message {
  color: seagreen;
  font-size: 1.3em;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}
